---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container" >
	<main>
		<h1 class="bg-blue-300">Este es mi portafolio</h1>
	</main>

</div>


